@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

/* Main background */
:root {
  font-family: "Manrope", sans-serif;
  background-color: hsl(230, 100, 99%);
  color: hsl(225, 20%, 60%);
  margin: 0;
  height: 100vh;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 100% 50%;
}
/* End main background */

/* Heading and text */
h1 {
  color: hsl(227, 35%, 25%);
  font-size: 28px;
  line-height: 90%;
}

header {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  max-height: 15vh;
  height: 100px;
  width: 100%;
  padding: 20px 0px;
}

.medium-text {
  font-size: 15px;
}
/* End Heading and text */

/* Main Pircing section */
.pricing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 25px 50px;
  background-color: hsl(0, 0%, 100%);
  width: 440px;
  height: 350px;
  max-width: 90vw;
  max-height: 65vh;
  box-shadow: 0 0 40px hsl(225, 20%, 90%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
/* End Main Pricing */

/* Pageviews and Price */
#pageviews {
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-self: flex-start;
  flex-basis: 50%;
  order: 0;
}

#price-month {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  justify-self: flex-end;
  flex-basis: 50%;
  order: 0;
}

.price {
  font-size: 40px;
  color: hsl(227, 35%, 25%);
  font-weight: 900;
}
/* End Pageviews and Price */

/* Price Slider */
#price-slider {
  margin: 25px 0;
  order: 1;
}
/* End Price Slider */

/* Billing Toggle */
#toggle-billing {
  margin: 30px 0;
  font-size: 12px;
  order: 2;
}

.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 15px;
  padding: 2px 6px;
  margin: 0 8px;
  font-size: 10px;
  position: absolute;
  
}
/* Billing Toggle End */

hr {
  width: 100%;
  position: fixed;
  bottom: 30%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  padding: 0;
}

/* List and Button */
#info-list {
  list-style-image: url("../images/icon-check.svg");
  list-style-position: inside;
  padding: 30px 0 0 0;
  font-size: 12px;
  justify-self: flex-start;
  flex-basis: 50%;
  order: 3;
}

#info-list li {
  padding: 5px 8px;
}

#start-trial-holder {
  text-align: right;
  /* padding: 7% 0 0 0; */
  padding: 30px 0 0 0;
  flex-basis: 50%;  
  justify-self: flex-end;
  order: 3;
}

#start-trial {
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  width: 170px;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;  
}

#start-trial:hover {
  color: white;
}
/* End List and Button */

/* Attribution */
footer {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
/* End Attribution */

#discount-desktop {
  display: inline;
}

#discount-mobile {
  display: none;
}

@media (orientation: portrait) {
  .pricing {
    max-width: 60vw;
    height: 500px;
    max-height: 65vh;
    top: 60%;
    padding: 5% 10%;
    text-align: center;
  }

  #discount-desktop {
    display: none;
  }

  #discount-mobile {
    display: inline;
  }

  #pageviews {
    order: 0;
  }

  #price-slider {
    order: 1;
  }

  #price-month {
    order: 2;
    margin: 25px 0;
  }

  #toggle-billing {
    order: 3;
  }

  hr {
    bottom: 38%;
  }

  #info-list {
    order: 4;
    flex-basis: 100%;
    text-align: center;
    justify-self: center;
  }

  #start-trial-holder {
    order: 5;
    flex-basis: 100%;
    text-align: center;
    padding:  20px 0;
  }

  #start-trial {
    order: 5;
    width: 200px;
  }

  footer {
    bottom: 0%;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  h1 {
    line-height: 50%;
  }

  header {
    top: 8%;
  }

  .pricing {
    top: 55%;
    padding: 2% 5%;
  }

  footer {
    bottom: 0%;
  }
}
