@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* Set Colors */
body {
    background-color: hsl(230, 100, 99%);
    color: hsl(227, 35%, 25%);
}

.pricing {
    background-color: hsl (0, 0%, 100%);
}

.price-slider {
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-background: hsl(174, 86%, 45%);
    --empty-slider-bar: hsl(224, 65%, 95%);
}

.price-toggle {
    --discount-background: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --toggle-background: hsl(223, 50%, 87%);
}

.start-button {
    --button-text: hsl(226, 100%, 87%);
    --button-background: hsl(227, 35%, 25%);
}
/* Set Colors End */

body {
    margin: 0;
}

.intro {
    font-size: 15px;
}